{% extends 'base.html' %}
{% load static %}

{% block link %}
<link href="{% static 'css/categories.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">Наші новини</h3>
        <div class="d-inline-flex text-white">
            <span><a class="text-white" href="{% url 'index' %}">Головна</a></span>
            <span class="px-2">/</span>
            <span><a class="text-white" href="{% url 'blog' %}">Наші новини</a></span>
            {% if active_category %}
            <span class="px-2">/</span>
            <span>{{ active_category }}</span>
            {% endif %}
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Останні новини</span></p>
            <h1 class="mb-4">Останні новини нашого блогу</h1>
        </div>


        <!--Categories Start-->
        <div class="row">
            <div class="col-12 text-center mb-2">
                <div class="list-inline mb-4" id="portfolio-flters">
                    <a class="btn category_link m-1 category_link_active" href="{% url 'blog' %}">Всі</a>
                    {% for category in categories|dictsort:'name' %}
                    <a class="btn category_link m-1" href="{% url 'blog' %}?cat={{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Categories End-->


        {% include  'show_news.html' %}
        <div class="col-md-12 mb-4">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center mb-0">
                  <li class="page-item {{ class_first_page }}">
                      <a class="page-link" href="{% url 'blog' %}?page={{ previous_link }}&cat={{ active_category }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                  {% for n in list_of_pages %}
                  {% if n == page_number%}
                  <li class="page-item active"><a class="page-link" href="{% url 'blog' %}?page={{ n }}&cat={{ active_category }}">{{ n }}</a></li>
                  {% elif n == 0 %}
                  <li class="page-item page-link">...</li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="{% url 'blog' %}?page={{ n }}&cat={{ active_category }}">{{ n }}</a></li>
                  {% endif %}

                  {% endfor %}
                  <li class="page-item {{ class_last_page }}">
                      <a class="page-link" href="{% url 'blog' %}?page={{ next_link }}&cat={{ active_category }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Blog End -->
{% endblock %}

{% block script %}
    let active_category = '{{ active_category }}';
    let children_cat = document.getElementById('portfolio-flters').children;
    for (let i = 1; i < children_cat.length; i++) {
        if (children_cat[i].text == active_category) {
            children_cat[i].classList.toggle('category_link_active');
            children_cat[0].classList.toggle('category_link_active');
            break;
        }
    }
{% endblock %}
