.category_link {
    color: #17a2b8;
    border: 1px solid transparent;
    border-color: #17a2b8;
    border-radius: 30px;
}
.category_link:hover {
    color: white;
    background-color: #17a2b8;
}
.category_link_active {
    color: white;
    background-color: #17a2b8;
}
