
{% if news.count == 0 %}
<h2 class="text-center">Нажіль нічого не знайдено :(</h2>
{% else %}
<div class="row pb-3">
    {% for post in news %}
    <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow-sm mb-2">

            {% with img_obj=post.imageofpost_set.first %}
            {% if img_obj %}
            <img class="card-img-top mb-2" src="{{ img_obj.image.url }}" alt="">
            {% else %}
            <img class="card-img-top mb-2" src="{{ post.categories.image.url }}" alt="">
            {% endif %}
            {% endwith %}

            <div class="card-body bg-light text-center p-4">
                <h4 class="">{{ post.title }}</h4>
                <div class="d-flex justify-content-center ">
                    <small class="mr-3"><i class="fa fa-user text-primary"></i> {{ post.author.get_initials }}</small>
                    <small class="mr-3"><i class="fa fa-folder text-primary"></i> {{ post.categories.name }}</small>
                </div>
                <div class="mb-3">
                    <small class="mr-3"><i class="fa fa-calendar-day text-primary"></i> {{ post.date_created }}</small>
                    <!--                            |date:"Y-m-d"-->
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <div>{{ post.preview_content }}</div>
                <a href="{% url 'blog_detail' post.pk %}" class="btn btn-primary px-4 mx-auto my-2">Читати далі</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
