{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header Start -->
<header class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <h4 class="text-white mb-4 mt-5 mt-lg-0">Вас вітає</h4>
            <h1 class="text-white">Комунальний заклад "Розсошенська гімназія<br> Щербанівської сільської ради
                <br>Полтавського району<br> Полтавської області"!</h1>
<!--            <p class="text-white mb-4">Ознайомитись з картою сайту</p>-->
<!--            <a href="" class="btn btn-secondary mt-1 py-3 px-5">тисніть тут</a>-->
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="{% static 'img/header.png' %}" alt="">
        </div>
    </div>
    <!-- <img src="img/school.jpg" alt="header"> -->
</header>
<!-- Header End -->

{% for alert in alerts %}
<div class="container alert alert-{{ alert.style }}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">{{ alert.title }}</h4>
    {{ alert.body|safe }}
</div>
{% endfor %}


<!-- Facilities Start -->
<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">

            {% for facility in facilities %}
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="{{ facility.class_name_icon }} h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>{{ facility.title }}</h4>
                        <p class="m-0">{{ facility.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- Facilities Start -->


<!-- Administration Start -->
{% if administration %}
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Наша команда</span></p>
            <h1 class="mb-4">Адміністрація школи</h1>
        </div>
        <div class="row">
            {% for admin in administration %}

            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="img-fluid w-100" src="{{ admin.src }}" alt="administration">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">

                        {% for item in admin.social_network %}
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                           href="{{ item.link }}" target="_blank"><i class="fab fa-{{ item.class_name }}"></i></a>
                        {% endfor %}

                    </div>
                </div>
                <h4>{{ admin.name }}</h4>
                <i>{{ admin.position }}</i>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</div>
{% endif %}
<!-- Administration End -->


<!-- Parents Start -->
{% if testimonials %}
<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Відгуки</span></p>
            <h1 class="mb-4">Що кажуть батьки!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">

            {% for testimonial in testimonials %}
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    {{ testimonial.text }}
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{{ testimonial.photo.url }}" style="width: 70px; height: 70px;"
                         alt="Image">
                    <div class="pl-3">
                        <h5>{{ testimonial.name }}</h5>
                        {% if testimonial.profession %}
                        <i>{{ testimonial.profession }}</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}
<!-- Parents End -->

<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Наш блог</span></p>
            <h1 class="mb-4">Останні новини</h1>
        </div>
        {% include 'show_news.html' %}
    </div>
</div>
<!-- Blog End -->

{% endblock %}

